body, html {
    padding:0;
    margin:0;
    border:none;
}

* {
    box-sizing: border-box;
}

.sitechat-wrapper {
    width:400px;
    overflow:hidden;
    padding:10px;
    height:500px;
}

.sitechat-input-field {
    border-radius:20px;
    padding: 9px 12px;
    font-size:18px;
    line-height: 18px;
    width:250px;
    height:auto;
    border: 1px solid black;
    height:40px;
}

.sitechat-send-button {
    border-radius:20px;
    padding: 9px 12px;
    font-size:18px;
    line-height: 18px;
    width:100px;
    border:none;
    color:white;
    background:blue;
    border: 1px solid blue;
    height:40px;    
}

.sitechat-chatwindow-wrapper {
    overflow-y:scroll;
    overflow-x:hidden;
    height:500px;
}